.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: rgb(151, 144, 144);
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 120vh; */
}

.section ul li{
    display: block;
}