.landing-container{
    gap: 30px;
    margin: 50px 80px;
}

.landingpage nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
}

.landingpage nav ul li {
    display: inline-block;
    padding: 15px;
    /* text-decoration: none; */
    list-style: none;
}

.landingpage nav ul a {
    color: beige;
    text-decoration: none;
}

.landingpage .logo {
    color: aliceblue;
    font-size: 1.5rem;
}

.landingpage nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.landingpage nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

.landingpage .navbtn{
    color: white;
}

@media (max-width: 500px) {
    .landingpage nav .menu {
        display: flex;
    }

    .landingpage nav{
        flex-direction: column;
        align-items: start;
    }

    .landingpage nav ul li{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .landingpage nav ul li {
        width: 100%;
        text-align: center;
    }

    .landingpage nav ul.open li {
        display: flex;
    }
}


.landing-container .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-container .right h1{
    line-height: 3rem;
}

.landing-container .right h1 span{
    color: blue;
}

.landing-container .right h1:nth-child(1){
    font-size: 3.5rem;
}

.landing-container .right h1:nth-child(2){
    font-size: 3rem;
}

.landing-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started{
    padding: 10px 20px;
}

.landing-container img{
    width: 20%;
}

.landing-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    margin: 20px 60px;
    background: rgba(206, 178, 178, 0.575);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 60px 30px;
}

.landing-card h1{
    font-size: 3.5rem;
}

.landing-card h1 span{
    color: blue;
}

.landing-card img{
    width: 300px;
    border-radius: 15px;
}