nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(15, 15, 15, 0.8);
    padding: 10px 20px;
    backdrop-filter: blur(10px);
}

ul li {
    display: inline-block;
    padding: 10px; /* Reduced padding */
    list-style: none;
}

ul a {
    color: beige;
    text-decoration: none;
}

.logo {
    color: aliceblue;
    font-size: 1.5rem;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem; /* Smaller width */
    height: 1.5rem; /* Smaller height */
}

nav .menu span {
    height: 0.2rem; /* Reduced height */
    width: 100%;
    background-color: #fff;
    border-radius: 0.1rem; /* Reduced border-radius */
}



.search {
    display: flex;
    gap: 8px;
    position: relative;
}

.search input {
    border: 1px solid white;
    border-radius: 15px;
    padding: 8px 12px;
    color: #fff;
    background-color: transparent; 
}

.search input::placeholder {
    color: #fff;
}

.search-results {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 8px 0; 
    max-height: 200px;
    overflow-y: auto;
}

.search-results li {
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.search-results li:last-child {
    border-bottom: none; 
}

.search-results li:hover {
    background-color: #f0f0f0; 
}

.con-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.createPost {
    padding: 10px 20px; /* Adjusted padding */
}

@media (max-width: 768px) {
    nav .menu {
        display: flex;
    }

    ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #0f0f0f;
        z-index: 1;
    }

    ul.open {
        display: flex;
    }

    li {
        margin: 0;
        padding: 10px 20px; /* Adjusted padding */
        border-bottom: 1px solid #fff;
    }

    li:last-child {
        border-bottom: none;
    }
}

/* Styles for notification icon */
.nav-icon-notification {
    position: relative;
    cursor: pointer;
  }
  
  .nav-icon-notification svg {
    width: 24px;
    height: 24px;
  }
  
  .notification-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 0.8em;
  }
  
  /* Styles for notification list */
  .notification-list {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #f8f9fa;;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-height: 350px;
    overflow-y: auto;
  }
  
  .notification-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .notification-item:last-child {
    border-bottom: none;
  }
  
  .notification-item button {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .notification-item button:hover {
    background-color: #0056b3;
  }
  