.data{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin: 15px 10px;
}

.pendingReq{
    border: 2px solid;
    padding: 20px;
}

.ApprovedReq{
    border: 2px solid;
    padding: 20px;
}

.exel{
    width: 3rem;
}

.exel-btn, .apv-btn{
    padding: 10px 20px;
}

.exel-btn-wrap, .apv-btn-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ApprovedReq select{
    padding: 10px;
    margin: 10px;
}