.profile-field img {
    max-width: 100%;
    max-height: 200px;
  }

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
}

.profile-section {
  /* Styles for each section */
}

.profile-info {
  /* Styles for the information */
}

.profile-field {
  /* Styles for each field */
}

.flex {
  /* Styles for the flex container */
}

.text-input {
  /* Styles for text input */
}

.file-input {
  /* Styles for file input */
}

.user-photo {
  /* Styles for user photo */
}

.user-data {
  /* Styles for user data */
}

.user-document {
  /* Styles for user document */
}

.profile-buttons {
  /* Styles for buttons container */
}

.save-button {
  /* Styles for save button */
}

.cancel-button {
  /* Styles for cancel button */
}

.edit-button {
  /* Styles for edit button */
}


/* Loading Section */

.load-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011015;
}

.load-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-ring {
  width: 200px;
  height: 200px;
  border: 0px solid black;
  border-radius: 50%;
  position: absolute;
}

.load-ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 2s linear infinite;
}

.load-ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}

.load-ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(60, 255, 0);
  animation: rotate3 2s linear infinite;
}

.loading{
  color: white;
}

@keyframes rotate1 {
  0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2{
  0%{
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
  }
}

@keyframes rotate3{
  0%{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100%{
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}